<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Berkshelf : Manage a Cookbook's, or an Application's, Cookbook dependencies" />

    <title>Berkshelf</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="./index.html">Berkshelf</a></h1>
        <p class="header">Manage a Cookbook or an Application's Cookbook dependencies</p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/RiotGames/berkshelf/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/RiotGames/berkshelf/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/RiotGames/berkshelf">View On GitHub</a></li>
        </ul>

        <p class="header">This project is maintained by <a class="header name" href="https://github.com/RiotGames">Riot Games</a></p>


      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <h3 id="authors">Authors</h2>
        {% capture authors %}{% include authors.md %}{% endcapture %}{{ authors | markdownify }}
        <p class="copyright">Berkshelf maintained by <a href="https://github.com/RiotGames">RiotGames</a></p>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
		
  </body>
</html>
